<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 name="contacts" id="contacts">Contatti</h3>
        <dl class="dl-horizontal">
          <dt>Email</dt>
          <dd>
            <a href="mailto:roberto@robertomerletti.it">roberto@robertomerletti.it</a>
          </dd>
          <dt>Ufficio</dt>
          <dd>
            Dip.to di Elettronica, Politecnico di Torino<br />
            Corso Duca degli Abruzzi 24 Torino, 10129<br />
            tel. 011 090 7763 oppure 011 0904137, <br />
            URL: <a href="http://lisin.polito.it">http://lisin.polito.it</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <p>&nbsp;</p>
        <p>&copy; CC-BY-NC Roberto Merletti 2016<br />
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /> Tutti i contenuti in questo sito sono rilasciati sotto licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a> salvo dove diversamente specificato.
        </p>
        <p>Immagini:
          Antonio Durelli (<a href="https://wellcomeimages.org/indexplus/image/V0008254.html">Wellcome Trust Library</a>), Laskowski/Balicki (<a href="https://commons.wikimedia.org/wiki/File:Laskowski_Anatomie_normale_06.jpg">Wikimedia Commons</a>)
        </p>
      </div>
    </div>
  </div>
</footer>
