<!-- Scripts -->
<script src="{{ site.path }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.path }}{{ site.baseurl }}/assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="{{ site.path }}{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.path }}{{ site.baseurl }}/assets/js/rm.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.www.robertomerletti.it"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//stats.fm.to.it/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', '21']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript>
  <p><img src="//stats.fm.to.it/piwik.php?idsite=21" style="border:0;" alt="" /></p>
</noscript>
<!-- End Piwik Code -->
<noscript>
  <!-- Piwik Image Tracker-->
  <img src="http://stats.fm.to.it/piwik.php?idsite=21&rec=1" style="border:0" alt="" />
  <!-- End Piwik -->
</noscript>